<html>
<head>
</head>
<body>
<form action="/newpassword" method="post">
<!-- <input type="password" name="password" placeholder="Current Password"> -->
<input type="password" name="password" placeholder="New Password">
<input type="Id" name="Id" value="<%=token%>" placeholder="<%=token%>">
<input type="submit" name="Submit">
</form>
</body>



</html>