<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/userReg">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="email" name="email" placeholder="email">
	<input type="number" name="mobile" placeholder="mobile">
	<input type="submit" name="submit" placeholder="submit">
</form>

</body>
</html>